$sidebarSize: 25rem;

@import "./sidebar/sidebar";

#map-app {
  display: flex;

  #map-wrapper {
    height: 100vh;
    flex: 0 0 calc(100% - #{$sidebarSize});
    position: relative;

    #suggest-add-new-club {
      position: absolute;
      left: calc(85% + 2rem);
      top: 1rem;
      z-index: 3;
    }

    #login-logout-button {
      position: absolute;
      left: calc(15% - 2rem);
      transform: translateX(-100%);
      top: 1rem;
      z-index: 3;
    }

    #search {
      position: absolute;
      width: 70%;
      
      left: 50%;
      transform: translateX(-50%);
      top: 1rem;
      z-index: 3;
      background: $backgroundColor;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
      border-radius: 20px;

      &.is-loading {
        &:after {
          width: 100px;
          height: 100px;
          background: url('/assets/loading_horizontal.gif') no-repeat center;
          background-size: cover;
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .search-input-wrapper {
        padding: 0px 1.5rem;
        height: 3rem;
        
        .search-input {
          width: 100%;
          height: 3rem;
          border-radius: 20px;
        }
      }

      .search-clubs {
        border-radius: 0px 0px 20px 20px;
        background: $backgroundColor;

        li {
          width: 100%;
          border-top: 1px solid #f0f0f0;

          &:last-child {
            .search-club {
              border-radius: 0px 0px 20px 20px;
            }
          }

          .search-club {
            display: block;
            width: 100%;
            height: 4rem;
            background: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &.hovered,
            &:hover {
              background-color: $lightHoverBackground;
            }

            .logo {
              height: 3rem;
              flex: 0 0 6rem;

              &.icon {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              img {
                height: 100%;
              }
            }

            .name {
              color: $textColor;
              font-size: 1.125em;
              font-weight: 500;
            }
          }
        }
      }
    }

    .map-overlay {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(255, 255, 255, 0.7);
      z-index: 4;
    }

    .page-over-map {
      position: absolute;
      z-index: 5;
      width: 70%;
      max-height: calc(100vh - 128px);
      z-index: 100;
      background: $backgroundColor;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      left: 50%;
      transform: translateX(-50%);
      top: 6rem;
      padding: 2rem 0px;
      box-sizing: border-box;

      .track-vertical {
        right: 12px;
      }

      .page-over-close {
        position: absolute;
        top: -1rem;
        right: -1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px -1px 6px 1px rgba(0, 0, 0, 0.25);
      }
      
      .inner {
        padding: 0px 2rem;
        height: 100%;
        overflow: hidden;
      }
    }
  }

  $margin: 0.5rem;
  #languages-selection {
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    left: 1rem;
    opacity: 0.4;

    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    .language {
      background: none;
      padding: 0px;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
      opacity: 0.7;
      filter: grayscale(70%);

      transition: opacity 0.3s, filter 0.3s;

      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }

      &.current {
        opacity: 1;
        filter: grayscale(0%);
      }

      img {
        display: block;
      }
    }

    .languages {
      padding-left: $margin;
      pointer-events: none;
      opacity: 0;
      right: 0px;
      position: absolute;
      bottom: 0px;
      width: 7rem;
      transform: translateX(calc(100% - 4rem));

      transition: opacity 0.3s, transform 0.3s;

      &.show {
        pointer-events: all;
        opacity: 1;
        transform: translateX(calc(100%));
        pointer-events: auto;
      }

      li {
        margin-right: $margin;
        float: left;

        &:last-child {
          margin-right: $margin;
        }
      }
    }
  }

  .club-marker {
    $opacity: 0.7;

    border-style: solid;
    border-width: 4px;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-color: rgba(#0D1B2A, $opacity);

    transform: translate(-50%, -50%);

    &:hover {
      cursor: default;
      
      .name {
        transform: translate(-50%, -1.5rem);
        opacity: 1;
      }
    }

    &.friendship,
    &.agreement,
    &.positive,
    &.satellite,
    &.satelliteOf {
      &:hover {
        border-color: #D72638;
        cursor: pointer;
      }
    }

    &.friendship {
      border-color: rgba($correctColor, $opacity);
    }

    &.agreement {
      border-color: rgba($standardColor, $opacity);
    }

    &.positive {
      border-color: rgba($additionalColor2, $opacity);
    }

    &.satellite {
      border-color: rgba($additionalColor1, $opacity);
    }

    &.satelliteOf {
      border-color: rgba($additionalColor1, $opacity);
    }

    .name {
      opacity: 0;
      position: absolute;
      white-space: nowrap;
      left: 50%;
      top: 0px;
      transform: translate(-50%, 0px);
      pointer-events: none;
      background: white;
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
      font-size: 1.25em;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      font-weight: bold;
      color: $textColor;

      transition: transform 0.3s, opacity 0.3s;
    }

    .logo {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.club-option {
  overflow: hidden;

  .logo {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    margin-right: 0.5rem;
    box-sizing: border-box;

    height: 36px;
    padding: 6px 0px;

    img {
      max-width: 100%;
    }
  }

  .name {
    float: left;
    display: block;
    height: 36px;
    line-height: 36px;
    padding-right: 0.5rem;
  }
}

.css-1hwfws3 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.location-search-input {
  @extend .input-styles;

  
}

.autocomplete-dropdown-container {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px $borderRadius $borderRadius;
  border-color: $borderLightColor;

  li {
    background: white;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    padding: 0px 1rem;
    border-bottom: 1px solid $borderLightColor;

    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: $lightHoverBackground;
    }

    &:last-child {
      border-bottom: 0px;
      border-radius: 0px 0px $borderRadius $borderRadius;
    }
  }
}